<h2>SCHEDULE</h2>

<table>
  <tr>

    <p>Browse Courses
	<br>
	<form action="">
	<input type="button" value="Browse">
	</form>
</p>
   <p>
    Class Options
	<br>
	<form action="">
	<input type="button" value="Options">
	</form>
</p>
    <p>Class Recommendations
	<form action="">
	<input type="button" value="Recommend">
	</form>
</P>
	<p>
    	Filter Class
	<form action="">
	<input type="button" value="Filter">
	</form>
</P>
  </tr>
	<tr>
	<td><%= link_to 'Past Courses' , 'past_course' %></td>
	</tr>
	<tr>
	<td><%= link_to 'Check Profile', '/profile' %></td>
	</tr>

</table>
</br>


