<form id="searchBox" align="center" method="get">
 <fieldset>
	<legend>Welcome to Advance Search</legend>
  		<div class="input-prepend">
			<span class="add-on"><i class="icon-search icon-learge icon-white"></i></span>
			<input id="search" type="text" placeholder="Major,Class Name" data-provide="typeahead">
  		</div>
</fieldset>
</form>


