<div class='class_block'>
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th colspan='4'>CMPSCI320 Software Engineering</th><td class='manual_button' id='details'>Details <span align='right' class='icon-arrow-right'</span></td>
      </tr>
      <tr class='subhead'>
        <th>Section</th><th>SpireID</th><th>Days & Times</th><th>Room</th><th>Instructor</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>01-Lec</td><td>31748</td><td>TuTh11:15AM-12:30PM</td><td>MorrillSci Ctr</td><td>Yuriy</td>
      </tr>
      <tr>
        <td>02-Lec</td><td>31749</td><td>I Don't Know</td><td>N/A</td><td>None</td>
      </tr>
    </tbody>
  </table>
</div>