<div class='class_block'>
  <table border='1'>
    <tr>
    	<th class='head' id='class_1'>CMPSCI320 Software Engineering <span align='right' class="caret"></span></th>
    </tr>
    <tr class='details' style='display:none'>
      <td>
        <table border='1' width='600px'>
        	<tr class='subhead'>
        	  <th>Section</th><th>SpireID</th><th>Days & Times</th><th>Room</th><th>Instructor</th>
        	</tr>
        	<tr>
        	  <td>01-Lec</td><td>31748</td><td>TuTh11:15AM-12:30PM</td><td>MorrillSci Ctr</td><td>Yuriy</td>
        	</tr>
        	<tr>
        	  <td>02-Lec</td><td>31749</td><td>I Don't Know</td><td>N/A</td><td>None</td>
        	</tr>
        </table>
      </td>
    </tr>
    <tr class='details' style='display:none'>
    	<th class='subhead'>Description</th>
    </tr>
    <tr class='details' style='display:none'>
    	<td><p class='description'>In this course, students learn and gain practical experience with software engineering principles and techniques. The practical experience centers on a semester-long team project in which a software development project is carried through all the stages of the software life cycle. Topics in this course include requirements analysis, specification, design, abstraction, programming style, testing, maintenance, communication, teamwork, and software project management. Particular emphasis is placed on communication and negotiation skills and on designing and developing maintainable software.  This course satisfies the Integrative Experience requirement for BS-CMPSCI and BA-CMPSCI majors.  Use of computer required. Several written assignments, in-class presentations, exams, and a term project.</p>
    	</td>
    </tr>
    <tr class='details' style='display:none'>
    	<th class='subhead'>Restriction/Notes</th>
    </tr>
    <tr class='details' style='display:none'>
    	<th>Enrollment Requirements</th>
    </tr>
    <tr class='details' style='display:none'>
    	<td><p class='restriction'>Open to Senior, Junior or Sophmore Computer Science majors only.<br />
    	Prerequisite: CMPSCI 220 with a grade of 'C' or better.<br />
    	Satisfies Integrative Experience requirement for CS Majors <br />
    	CS Eng majors will be admitted only if there is space.  Meets with CMPSCI 529 Lecture. <br />
    	An Optional Honors Colloquium is available for this course.</p>
  	  </td>
    </tr>
  </table>
</div>