<%= render 'exclusion_list' %>

<table class="table table-bordered table-striped" id='constraints'>
  <tr>
    <th colspan='4'>Constraints</th>
  </tr>
</table>
<!-- <div id='msg'>
</div> -->
<div align='center'>
<a id='additem' class='btn btn-primary dropdown-toggle'>Add New Constraint <span class="icon-plus"></span></a>
<a id='getrecommend' class='btn btn-success'>Show Me My Option <span class='icon-arrow-down'></a>
<p>
	<span class="label label-info">Info</span> You will get a recommended schedule after clicking "Show Me My Option"
</p>
</div>
<!-- <pre>
<div id='string'>
</div>
</pre> -->


<div id='recommendations' align='center'>
</div>