<%= render 'exclusion_list' %>

<table class="table table-bordered table-striped" id='constraints'>
  <tr>
    <th colspan='5'>Constrints</th>
  </tr>
</table>
<div id='msg'>
</div>
<a id='additem' class='btn btn-primary dropdown-toggle'>Add New Constraint <span class="caret"></span></a>
<a id='getrecommend' class='btn btn-success'>Show Me My Options</a>
<pre>
<div id='string'>
</div>
</pre>


<div id='recommendations' align='center'>
</div>