<form name="input" action="" method="get">
<table border='1'>
  <tr>
  	<th colspan='2' class='head'>RECOMMENDATION</th>
  </tr>
  <tr>
  	<th class='subhead'>Major</th><th class='subhead'>Course# Range</th>
  </tr>
  <tr>
  	<td>
      <select name='dept'>
      <option value=""></option>
      <option value="ACCOUNTG" >Accounting</option>
      <option value="AEROSPAC" >Aerospace Studies</option>
      <option value="AFROAM"   >Afro-American Studies</option>
      <option value="ANIMLSCI" >Animal Science</option>
      <option value="ANTHRO"   >Anthropology</option>
      <option value="ARABIC"   >Arabic</option>
      <option value="ARCH-DES" >Architecture and Design</option>
      <option value="ART"      >Art</option>
      <option value="ART-HIST" >Art History</option>
      <option value="ASIAN-ST" >Asian Studies</option>
      <option value="ASTRON"   >Astronomy</option>
      <option value="BDIC"     >Bachelor's Deg W/indiv Conc.</option>
      <option value="BIOCHEM">Biochemistry & Molecular Bio.</option>
      <option value="BIOLOGY">Biology</option>
      <option value="BCT">Building & Construction Tech</option>
      <option value="CHEM-ENG">Chemical Engineering</option>
      <option value="CHEM">Chemistry</option>
      <option value="CHINESE">Chinese</option>
      <option value="CE-ENGIN">Civil & Environmental Engrg</option>
      <option value="CLASSICS">Classics</option>
      <option value="COMM">Communication</option>
      <option value="COMM-DIS">Communication Disorders</option>
      <option value="COMP-LIT">Comparative Literature</option>
      <option value="CMPSCI">Computer Science</option>
      <option value="DANCE">Dance</option>
      <option value="ECON">Economics</option>
      <option value="EDUC">Education</option>
      <option value="E&C-ENG">Electrical & Computer Engin</option>
      <option value="ENGIN">Engineering</option>
      <option value="ENGLISH">English</option>
      <option value="ENGLWRIT">English Writing Program</option>
      <option value="ENVIRDES">Environmental Design</option>
      <option value="ECO">Environmental Conservation</option>
      <option value="ENVIRSCI">environmental Science</option>
      <option value="FINANCE">Finance</option>
      <option value="FOOD-SCI">Food Science</option>
      <option value="FRENCHST">French Studies</option>
      <option value="GEO-SCI">Geosciences</option>
      <option value="GERMAN">German</option>
      <option value="GREEK">Greek</option>
      <option value="HEBREW">Hebrew</option>
      <option value="HISTORY">History</option>
      <option value="HONORS">Honors College</option>
      <option value="HT-MGT">Hospitality & Tourism Management</option>
      <option value="HUMANDEV">Human Development</option>
      <option value="HM&FNART">Humanity & Fine Arts</option>
      <option value="ITALIAN">Italian Studies</option>
      <option value="JAPANESE">Japanese</option>
      <option value="JOURNAL">Journalism</option>
      <option value="JUDAIC">Judaic Studies</option>
      <option value="KIN">Kinesiology</option>
      <option value="LANDARCH">Landscape Architecture</option>
      <option value="LANDCONT">Landscape Contracting</option>
      <option value="LATIN">Latin</option>
      <option value="LATIN-AM">Latin American Studies</option>
      <option value="LATIN-ED">Latin-student Teaching</option>
      <option value="LEGAL">Legal Studies</option>
      <option value="LINGUIST">Linguistics</option>
      <option value="MANAGMNT">Management</option>
      <option value="MARKETNG">Marketing</option>
      <option value="MATH">Mathematics</option>
      <option value="M&I-ENG">Mechnical & Industrial Engin</option>
      <option value="MICROBIO">Microbiology</option>
      <option value="MIDEAST">Middle Eastern Studies</option>
      <option value="MILITARY">Military Leadership</option>
      <option value="EURO">Modern Europe Studies</option>
      <option value="MOLCLBIO">Molecular & Cellular Biology</option>
      <option value="MUSIC">Music</option>
      <option value="MUSIC-ED">Music Education</option>
      <option value="MUSICAPP">Music, Applied</option>
      <option value="NRC">National Resource Conservation</option>
      <option value="NEUROS&B">Neuroscience & Behavior</option>
      <option value="NURSING">Nursing</option>
      <option value="NUTRITN">Nutrition</option>
      <option value="OIM">Operation & Info Management</option>
      <option value="ORG&EVBI">Organismic & Evolutionary Bio</option>
      <option value="PHIL">Philosophy</option>
      <option value="PHYSICS">Physics</option>
      <option value="PLSOILIN">Plant & Soil Sciences</option>
      <option value="POLISH">Polish</option>
      <option value="POLISCI">Political Science</option>
      <option value="POLYMER">Polymer Science & Engineering</option>
      <option value="PORTUG">Portuguese</option>
      <option value="PORTUGED">Pourtuguese-Student Teaching</option>
      <option value="PSYCH">Psychology</option>
      <option value="PUBHLTH">Public Health</option>
      <option value="PUBP&ADM">Public Policy & administration</option>
      <option value="REGIONPL">Regional Planning</option>
      <option value="RES-ECON">Resource Economics</option>
      <option value="RUSSIAN">Russian</option>
      <option value="SCANDIN">Scandinavian</option>
      <option value="SRVCLRNG">Service Learning</option>
      <option value="STPEC">Social Thought & Polic. Econ</option>
      <option value="SOCIOL">Sociology</option>
      <option value="SPANISH">Spanish</option>
      <option value="SPANISHED">Spanish-Student Teaching</option>
      <option value="SPORTMGT">Sport management</option>
      <option value="STATISTIC">Statistics</option>
      <option value="STOCKSCH">Stockbridge School</option>
      <option value="SWEDISH">Swedish</option>
      <option value="THEATER">Theater</option>
      <option value="WOMENSST">Women, Gender, Sexuality</option>
      <option value="YIDDISH">Yiddish</option>
      </select>
    </td>
    <td>
      <input type="text" name="coursesmall">
      To <input type="text" name="courselarge">
    </td>
  </tr>
  <tr>
  	<th class='subhead'>Time</th>
  	<td>
    <select name='start_time'>
      <option value="8am">8:00AM</option>
      <option value="9am">9:00AM</option>
      <option value="10am">10:00AM</option>
      <option value="11am">11:00AM</option>
      <option value="12pm">12:00PM</option>
      <option value="1pm">1:00PM</option>
      <option value="2pm">2:00PM</option>
      <option value="3pm">3:00PM</option>
      <option value="4pm">4:00PM</option>
      <option value="5pm">5:00PM</option>
      <option value="6pm">6:00PM</option>
      <option value="7pm">7:00PM</option>
      <option value="8pm">8:00PM</option>
      <option value="9pm">9:00PM</option>
      <option value="10pm">10:00PM</option>
    </select>
    To:
    <select name='end_time'>
      <option value="8am">8:00AM</option>
      <option value="9am">9:00AM</option>
      <option value="10am">10:00AM</option>
      <option value="11am">11:00AM</option>
      <option value="12pm">12:00PM</option>
      <option value="1pm">1:00PM</option>
      <option value="2pm">2:00PM</option>
      <option value="3pm">3:00PM</option>
      <option value="4pm">4:00PM</option>
      <option value="5pm">5:00PM</option>
      <option value="6pm">6:00PM</option>
      <option value="7pm">7:00PM</option>
      <option value="8pm">8:00PM</option>
      <option value="9pm">9:00PM</option>
      <option value="10pm">10:00PM</option>
    </select>
    </td>
  </tr>
  <tr>
  	<th class='subhead'>Day-off</th>
  	<td>
  	<input type="checkbox" name="Day" value='Mo'>Monday
    <input type="checkbox" name="Day" value='Mo'>Tuesday
    <input type="checkbox" name="Day" value='Mo'>Wednesday
    <input type="checkbox" name="Day" value='Mo'>Thursday
    <br />
    <input type="checkbox" name="Day" value='Mo'>Friday
    <input type="checkbox" name="Day" value='Mo'>Saturday
    <input type="checkbox" name="Day" value='Mo'>Sunday
    </td>
  </tr>
  <tr>
  	<th class='subhead'>Specified Class:</th>
  	<td>
      <input type="text" id="keywords" name="specified" size="100" class="searchBox" value="class number1,class number2,etc..."> ex: 10186,10187...separate by comma
    </td>
  </tr>
  <tr>
  	<th class='subhead'>Nmber of Class</th>
  	<td>
      <select name='num_class'>
		<option value=""></option>
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option>
		<option value="7">7</option>
		<option value="8">8</option>
		<option value="9">9</option>
		<option value="10">10</option>
      </select>
    </td>
  </tr>
  <tr>
    <td colspan='2' align='center' class='manual_button' id='recommend'>
      <b>Show Me My Options</b>
    </td>
  </tr>
</table>
</form>

<div id='recommendations' align='center'>
</div>