<% provide(:title, 'Advisor') %>
<% content_for :h1 do %>
  <h1>Schedule Advisor</h1>
<% end %>

<div class= "tabbable" align="center">
<ul class="nav nav-tabs">
<li class="active"><a href="#recommendation" onclick="show_recommendation()" data-toggle="tab">Recommendation</a></li>
<li><a href="#filter_class" onclick="show_filter()" data-toggle="tab">Search</a></li>
<li><a href="#adv_search" onclick="adv_filter()" data-toggle="tab">Advance Search</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id= "recommendation">
	<%= render 'rec' %>
  </div>
  <div class="tab-pane" id="filter_class">
	<%=render 'filter' %>
  </div>
  <div class="tab-pane" id="adv_search">
	<%= render 'adv_search' %>
  </div>  
</div>
</div>
