<% provide(:title, 'Advisor') %>

<div align="center">
<table border='2'>
<tr>
<td>
<a class = 'adv_nav' href='#' onclick='show_recommendation()'>Recommendation</a>
</td>
<td>
<a class = 'adv_nav' href='#' onclick='show_filter()'>Search</a>
</td>
</tr>
</table>

<div id='filter_class' style='display:none'>
<%=render 'filter' %>
</div>
 <div id='recommendation'>
<%= render 'rec' %>
</div>
  
</div>
