<% provide(:title, 'Advisor') %>

<div align="center">
<ul class="nav nav-tabs">
<li class="active"><a class = 'adv_nav' href='#' onclick='show_recommendation()'>Recommendation</a>
<li class=""><a href='#' onclick='show_filter()'>Search</a>
</ul>

<div id='filter_class' style='display:none'>
<%=render 'filter' %>
</div>
 <div id='recommendation'>
<%= render 'rec' %>
</div>
  
</div>
