<link href="/assets/schedule.css" media="all" rel="stylesheet" type="text/css" />
<% provide(:title, 'Schedule') %>
<div align="center">
  <h1>SCHEDULE</h1>
  <div id ="top_search">
    <form name="input" action="" method="get">
      <input type="text" id="keywords" name="keywords" size="100" class="searchBox" value="Enter Class Number, Class Name, or Professor Name!">
      <input type="submit" name="submit" id="submit" class="button" value="Search"/>
    </form>
  </div>
</div>

<div align="center">
  <%= render 'schedule_nav' %>
  <br>
  
</div>


<br>
<table>
	<tr>
		<td colspan='1'>Course Code | Course Title</td>
	</tr>
</table>

