<% content_for :h1 do %>
  <h1>Schedule</h1>
<% end %>

<link href="/assets/times.css" media="all" rel="stylesheet" />
<select onChange='showSchedule(this.value)'>
  <optgroup>
    <option value='0'>Schedule 1</option>
    <option value='1'>Schedule 2</option>
    <option value='2'>Schedule 3</option>
  </optgroup>
</select>
<br/>

<div class='schedule-table' align="center">
<table class='schedule' align="right">
  <tr>
    <th><a id='delete' class ='btn btn-danger'>Delete Schedule</a></th>
    </table>
    <br>
    <br>
    </div>
    
   
  <div id="dayrow" class="day_row" style="background:lightblue;" class="styleguide-color">
  
  
  
  <div id="daytime" class="time_column">
    <div class="time header">Time</div>
    <div class="time hour">8:00</div>
    <div class="time hour">9:00</div>
    <div class="time hour">10:00</div>
    <div class="time hour">11:00</div>
    <div class="time hour">12:00</div>
    <div class="time hour">1:00</div>
    <div class="time hour">2:00</div>
    <div class="time hour">3:00</div>
    <div class="time hour">4:00</div>
    <div class="time hour">5:00</div>
    <div class="time hour">6:00</div>
    <div class="time hour">7:00</div>
    <div class="time hour">8:00</div>
    <div class="time hour">9:00</div>
</div>
<div id="monday" class="day_column">
    <div class="time header">Monday</div>
    <div class="time fifty" id="Mon1" >8:00
    <script>
     $(function(){ 
     var variable = searchSlotMon("8:00");
     $('#Mon1').html(variable);
     });
      </script> 
    </div>
    <div class="time fifteen"></div>
    <div class="time fifty" id="Mon2">9:05
    <script>
     $(function(){ 
     var variable = searchSlotMon("9:05");
     $('#Mon2').html(variable);
     });
      </script> 
      </div>
    <div class="time fifteen"></div>
    <div class="time fifty" id="Mon3">10:10
    <script>
     $(function(){ 
     var variable = searchSlotMon("10:10");
     $('#Mon3').html(variable);
     });
      </script> </div>
    <div class="time fifteen"></div>
    <div class="time fifty" id="Mon4">11:15
    <script>
     $(function(){ 
     var variable = searchSlotMon("11:15");
     $('#Mon4').html(variable);
     });
      </script> 
    </div>
    <div class="time fifteen"></div>
    <div class="time fifty" id="Mon5">12:20
    <script>
     $(function(){ 
     var variable = searchSlotMon("12:20");
     $('#Mon5').html(variable);
     });
      </script> 
    </div>
    <div class="time fifteen"></div>
    <div class="time fifty" id="Mon6">1:25
    <script>
     $(function(){ 
     var variable = searchSlotMon("1:25");
     $('#Mon6').html(variable);
     });
      </script> 
    </div>
    <div class="time fifteen"></div>
    <div class="time fifty" id="Mon7">2:30
    <script>
     $(function(){ 
     var variable = searchSlotMon("2:30");
     $('#Mon7').html(variable);
     });
      </script> 
    </div>
    <div class="time fifteen"></div>
    <div class="time fifty" id="Mon8">3:35
    <script>
     $(function(){ 
     var variable = searchSlotMon("3:35");
     $('#Mon8').html(variable);
     });
      </script> 
    </div>
    <div class="time fifteen"></div>
    <div class="time fifty" id="Mon9">4:40
    <script>
     $(function(){ 
     var variable = searchSlotMon("4:40");
     $('#Mon9').html(variable);
     });
      </script> 
    </div>
    <div class="time fifteen"></div>
    <div class="time fifty" id="Mon10">5:45
    <script>
     $(function(){ 
     var variable = searchSlotMon("5:45");
     $('#Mon10').html(variable);
     });
      </script> 
    </div>
    <div class="time fifteen"></div>
    <div class="time fifty" id="Mon11">6:50
    <script>
     $(function(){ 
     var variable = searchSlotMon("6:50");
     $('#Mon11').html(variable);
     });
      </script> 
    </div>
    <div class="time fifteen"></div>
    <div class="time fifty" id="Mon12">7:55
    <script>
     $(function(){ 
     var variable = searchSlotMon("7:55");
     $('#Mon12').html(variable);
     });
      </script> 
    </div>
    <div class="time fifteen"></div>
    <div class="time hour">9:00</div> 
</div>

 <div id="tuesday" class="day_column">
    <div class="time header">Tuesday</div>
    <div class="time seventyfive" id="Tues1">8:00
    <script>
     $(function(){ 
     var variable = searchSlotTues("8:00");
     $('#Tues1').html(variable);
     });
      </script> 
    </div>
    <div class="time fifteen"></div>
    <div class="time seventyfive" id="Tues2">9:30
    <script>
     $(function(){ 
     var variable = searchSlotTues("9:30");
     $('#Tues2').html(variable);
     });
      </script> 
      </div>
    <div class="time half"></div>
    <div class="time seventyfive" id="Tues3">11:15
    <script>
     $(function(){ 
     var variable = searchSlotTues("11:15");
     $('#Tues3').html(variable);
     });
      </script> 
      </div>
    <div class="time half"></div>
    <div class="time seventyfive" id="Tues4">1:00
    <script>
     $(function(){ 
     var variable = searchSlotTues("1:00");
     $('#Tues4').html(variable);
     });
      </script> 
    </div>
    <div class="time fifteen"></div>
    <div class="time seventyfive" id="Tues5">2:30
    <script>
     $(function(){ 
     var variable = searchSlotTues("2:30");
     $('#Tues5').html(variable);
     });
      </script> 
    </div>
    <div class="time fifteen"></div>
    
    <div class="time seventyfive" id="Tues6" >4:00
    <script>
     $(function(){ 
     var variable = searchSlotTues("4:00");
     $('#Tues6').html(variable);
     });
      </script> 
    </div>
    <div class="time half"></div>
    <div class="time seventyfive" id="Tues7">5:45
    <script>
     $(function(){ 
     var variable = searchSlotTues("5:45");
     $('#Tues7').html(variable);
     });
      </script> 
    </div>
    <div class="time half"></div>
    <div class="time seventyfive" id="Tues8">7:30
    <script>
     $(function(){ 
     var variable = searchSlotTues("7:30");
     $('#Tues8').html(variable);
     });
      </script> 
    </div>
    <div class="time fifteen"></div>
    <div class="time hour">9:00</div>   
</div>





<div id="wednesday" class="day_column">
    <div class="time header">Wednesday</div>
    <div class="time fifty" id="Wed1">8:00
    <script>
     $(function(){ 
     var variable = searchSlotWed("8:00");
     $('#Wed1').html(variable);
     });
      </script> 
    </div>
    <div class="time fifteen"></div>
    <div class="time fifty" id="Wed2">9:05
    <script>
     $(function(){ 
     var variable = searchSlotWed("9:05");
     $('#Wed2').html(variable);
     });
      </script> 
      </div>
    <div class="time fifteen"></div>
    <div class="time fifty" id="Wed3">10:10
    <script>
     $(function(){ 
     var variable = searchSlotWed("10:10");
     $('#Wed3').html(variable);
     });
      </script> </div>
    <div class="time fifteen"></div>
    <div class="time fifty" id="Wed4">11:15
    <script>
     $(function(){ 
     var variable = searchSlotWed("11:15");
     $('#Wed4').html(variable);
     });
      </script> 
    </div>
    <div class="time fifteen"></div>
    <div class="time fifty" id="Wed5">12:20
    <script>
     $(function(){ 
     var variable = searchSlotWed("12:20");
     $('#Wed5').html(variable);
     });
      </script> 
    </div>
    <div class="time fifteen"></div>
    <div class="time fifty" id="Wed6">1:25
    <script>
     $(function(){ 
     var variable = searchSlotWed("1:25");
     $('#Wed6').html(variable);
     });
      </script> 
    </div>
    <div class="time fifteen"></div>
    <div class="time fifty" id="Wed7">2:30
    <script>
     $(function(){ 
     var variable = searchSlotWed("2:30");
     $('#Wed7').html(variable);
     });
      </script> 
    </div>
    <div class="time fifteen"></div>
    <div class="time fifty" id="Wed8">3:35
    <script>
     $(function(){ 
     var variable = searchSlotWed("3:35");
     $('#Wed8').html(variable);
     });
      </script> 
    </div>
    <div class="time fifteen"></div>
    <div class="time fifty" id="Wed9">4:40
    <script>
     $(function(){ 
     var variable = searchSlotWed("4:40");
     $('#Wed9').html(variable);
     });
      </script> 
    </div>
    <div class="time fifteen"></div>
    <div class="time fifty" id="Wed10">5:45
    <script>
     $(function(){ 
     var variable = searchSlotWed("5:45");
     $('#Wed10').html(variable);
     });
      </script> 
    </div>
    <div class="time fifteen"></div>
    <div class="time fifty" id="Wed11">6:50
    <script>
     $(function(){ 
     var variable = searchSlotWed("6:50");
     $('#Wed11').html(variable);
     });
      </script> 
    </div>
    <div class="time fifteen"></div>
    <div class="time fifty" id="Wed12">7:55
    <script>
     $(function(){ 
     var variable = searchSlotWed("7:55");
     $('#Wed12').html(variable);
     });
      </script> 
    </div>
    <div class="time fifteen"></div>
    <div class="time hour">9:00</div>
</div>





<div id="thursday" class="day_column">
    <div class="time header">Thursday</div>
    <div class="time seventyfive" id="Thur1">8:00
    <script>
     $(function(){ 
     var variable = searchSlotThur("8:00");
     $('#Thur1').html(variable);
     });
      </script> 
    </div>
    <div class="time fifteen"></div>
    <div class="time seventyfive" id="Thur2">9:30
    <script>
     $(function(){ 
     var variable = searchSlotThur("9:30");
     $('#Thur2').html(variable);
     });
      </script> 
      </div>
    <div class="time half"></div>
    <div class="time seventyfive" id="Thur3">11:15
    <script>
     $(function(){ 
     var variable = searchSlotThur("11:15");
     $('#Thur3').html(variable);
     });
      </script> 
      </div>
    <div class="time half"></div>
    <div class="time seventyfive" id="Thur4">1:00
    <script>
     $(function(){ 
     var variable = searchSlotThur("1:00");
     $('#Thur4').html(variable);
     });
      </script> 
    </div>
    <div class="time fifteen"></div>
    <div class="time seventyfive" id="Thur5">2:30
    <script>
     $(function(){ 
     var variable = searchSlotThur("2:30");
     $('#Thur5').html(variable);
     });
      </script> 
    </div>
    <div class="time fifteen"></div>
    
    <div class="time seventyfive" id="Thur6" >4:00
    <script>
     $(function(){ 
     var variable = searchSlotThur("4:00");
     $('#Thur6').html(variable);
     });
      </script> 
    </div>
    <div class="time half"></div>
    <div class="time seventyfive" id="Thur7">5:45
    <script>
     $(function(){ 
     var variable = searchSlotThur("5:45");
     $('#Tues7').html(variable);
     });
      </script> 
    </div>
    <div class="time half"></div>
    <div class="time seventyfive" id="Thur8">7:30
    <script>
     $(function(){ 
     var variable = searchSlotThur("7:30");
     $('#Thur8').html(variable);
     });
      </script> 
    </div>
    <div class="time fifteen"></div>
    <div class="time hour">9:00</div>
</div>







<div id="friday" class="day_column">
    <div class="time header">Friday</div>
    <div class="time fifty" id="Fri1">8:00
    <script>
     $(function(){ 
     var variable = searchSlotFri("8:00");
     $('#Fri1').html(variable);
     });
      </script> 
    </div>
    <div class="time fifteen"></div>
    <div class="time fifty" id="Fri2">9:05
    <script>
     $(function(){ 
     var variable = searchSlotFri("9:05");
     $('#Fri2').html(variable);
     });
      </script> 
      </div>
    <div class="time fifteen"></div>
    <div class="time fifty" id="Fri3">10:10
    <script>
     $(function(){ 
     var variable = searchSlotFri("10:10");
     $('#Fri3').html(variable);
     });
      </script> </div>
    <div class="time fifteen"></div>
    <div class="time fifty" id="Fri4">11:15
    <script>
     $(function(){ 
     var variable = searchSlotFri("11:15");
     $('#Fri4').html(variable);
     });
      </script> 
    </div>
    <div class="time fifteen"></div>
    <div class="time fifty" id="Fri5">12:20
    <script>
     $(function(){ 
     var variable = searchSlotFri("12:20");
     $('#Fri5').html(variable);
     });
      </script> 
    </div>
    <div class="time fifteen"></div>
    <div class="time fifty" id="Fri6">1:25
    <script>
     $(function(){ 
     var variable = searchSlotFri("1:25");
     $('#Fri6').html(variable);
     });
      </script> 
    </div>
    <div class="time fifteen"></div>
    <div class="time fifty" id="Fri7">2:30
    <script>
     $(function(){ 
     var variable = searchSlotFri("2:30");
     $('#Fri7').html(variable);
     });
      </script> 
    </div>
    <div class="time fifteen"></div>
    <div class="time fifty" id="Fri8">3:35
    <script>
     $(function(){ 
     var variable = searchSlotFri("3:35");
     $('#Fri8').html(variable);
     });
      </script> 
    </div>
    <div class="time fifteen"></div>
    <div class="time fifty" id="Fri9">4:40
    <script>
     $(function(){ 
     var variable = searchSlotFri("4:40");
     $('#Fri9').html(variable);
     });
      </script> 
    </div>
    <div class="time fifteen"></div>
    <div class="time fifty" id="Fri10">5:45
    <script>
     $(function(){ 
     var variable = searchSlotFri("5:45");
     $('#Fri10').html(variable);
     });
      </script> 
    </div>
    <div class="time fifteen"></div>
    <div class="time fifty" id="Fri11">6:50
    <script>
     $(function(){ 
     var variable = searchSlotMon("6:50");
     $('#Fri11').html(variable);
     });
      </script> 
    </div>
    <div class="time fifteen"></div>
    <div class="time fifty" id="Fri12">7:55
    <script>
     $(function(){ 
     var variable = searchSlotFri("7:55");
     $('#Fri12').html(variable);
     });
      </script> 
    </div>
    <div class="time fifteen"></div>
    <div class="time hour">9:00</div>  
</div>


</div>

</div>



<script>
  function showSchedule(n) {
    var tables = $('.schedule-table');
    for (var i = 0; i < tables.length; i++) {
      if (i != n) {
        tables[i].style.display = 'none';
      } else {
        tables[i].style.display = 'block';
      }
    }
  }
</script>
