    <div class="page-header">
    <h1>AutoAdvisor <small>Description and Scope</small></h1>
    </div>

    <div class="well well-small">
    Software Description
    </div>

AutoAdvisor is a course selection aid.  It solves the problem of selecting courses that best meet the academic and lifestyle requirements of today’s on-the-go student. It lets users find classes they should take that they might not otherwise have found and save time and effort that would be wasted on the inefficiencies of SPIRE.  It eliminates the requirement of user expertise for class selection, allowing users to create excellent class schedules without needing to learn the eccentricities of the SPIRE system.


Using SPIRE directly allows users to add classes directly from the class search feature, but AutoAdvisor can meet or exceed the utility of this feature by giving 5-digit course numbers to use directly on the enrollment page.  SPIRE’s main weaknesses are that searching for anything on it takes a tremendous amount of time, and the user must already know what sorts of things might satisfy their requirements.

AutoAdvisor will provide all the information needed by the user on the main webpage through which the website is accessed; privacy information (for transcripts) will be on a separate linked page from the main site.  There will be a written manual for system administrators and those who wish to adapt the system for other college systems.
<br />
<br />

    <div class="well well-small">
    Software Scope
    </div>
AutoAdvisor is a web-based application and users must sign in to access their information. Since it is web-based, AutoAdvisor is platform-independent for the client. On the server side, AutoAdvisor runs on Apache Server software on a Linux distribution. The databases will be implemented in MySQL.

AutoAdvisor will be designed for use with courses in the UMASS/Five College system.  It will, however, include advice for extending the product to be implemented for other colleges. Although primarily aimed at being a tool for students, AutoAdvisor also aids universities and academic departments by providing them with an online repository where they can put major, minor, certificate, and general education requirements for students to easily access.

AutoAdvisor depends on the publicly available portion of SPIRE to check if classes are open (but will do so infrequently).  It also depends on the formatting of the UMASS unofficial transcript. AutoAdvisor does not link directly into the user’s SPIRE account. It will also be dependent on access to requirement information, which may be provided by students or departments.

To be a credible product, AutoAdvisor must be significantly faster than SPIRE, or significantly!

