
    <div class="page-header">
    <h1>AutoAdvisor <small>Team via. CS-Rocks .inc</small></h1>
    </div>

<blockquote>
  <p>Development Team Manager</p>
    <small>Kyle Hughes</small>
</blockquote>

<br />
<br />

<blockquote>
  <p>Development Team Leader</p>
    <small>David Wemhoener</small>
</blockquote>

<br />
<br />

<blockquote>
  <p>Development Team members</p>
    <small>Duane Bailey</small>
    <small>Wei Lin</small>
    <small>Hui Ping Chen</small>
    <small>Dan Stubbs</small>
    <small>Peng Gao</small>
    <small>Nicholas Conlon</small>
    <small>Ki Yung Chan</small>



</blockquote>

<br />
<br />


<div class="span5">
   <table class="table table-hover">
       <thead>
         <tr>
            <th>Database Manager and Developer</th>
             <th></th>
         </tr></thead>
         <tbody>
            <tr>
                <td>Duane Bailey</td>
            </tr>
        </tbody>
   </table>
</div>

<div class="span5">
   <table class="table table-hover">
       <thead>
         <tr>
            <th>Graphic Interface Team</th>
             <th></th>
         </tr></thead>
         <tbody>
            <tr>
                <td>Ki Yung Chan</td>
            </tr>
        </tbody>
         <tbody>
            <tr>
                <td>Wei Lin</td>
            </tr>
        </tbody>
         <tbody>
            <tr>
                <td>Peng Gao</td>
            </tr>
        </tbody>
         <tbody>
            <tr>
                <td>Hui Ping Chen</td>
            </tr>
        </tbody>
         <tbody>
            <tr>
                <td>Nicholas Conlon</td>
            </tr>
        </tbody>
   </table>
</div>

<div class="span5">
   <table class="table table-hover">
       <thead>
         <tr>
            <th>Server-Side Developement Team</th>
             <th></th>
         </tr></thead>
         <tbody>
            <tr>
                <td>Duane Bailey</td>
            </tr>
        </tbody>
         <tbody>
            <tr>
                <td>David Wemhoener</td>
            </tr>
        </tbody>
         <tbody>
            <tr>
                <td>Dan Stubbs</td>
            </tr>
        </tbody>
         <tbody>
            <tr>
                <td>Nicholas Conlon</td>
            </tr>
        </tbody>
         <tbody>
            <tr>
                <td>Wei Lin</td>
            </tr>
        </tbody>
         <tbody>
            <tr>
                <td>Ki Yung Chan</td>
            </tr>
        </tbody>
   </table>
</div>

<div class="span5">
   <table class="table table-hover">
       <thead>
         <tr>
            <th>Test Manager</th>
             <th></th>
         </tr></thead>
         <tbody>
            <tr>
                <td>David Wemhoener</td>
            </tr>
        </tbody>
         <tbody>
            <tr>
                <td>Nicholas Conlon</td>
            </tr>
        </tbody>
   </table>
</div>

    </div>
    </div>

