<% provide(:title, 'Documentation') %>
<% content_for :h1 do %>
  <h1>Documentation</h1>
<% end %>
    <div class="page-header">
    <h1>AutoAdvisor <small>Manuals</small></h1>
    </div>
  <blockquote>
  	Walkthroughs, help, and information for users:
  	<small>
  	<%= link_to 'User Manual','https://docs.google.com/document/d/1jUuix8poZ6cw1S_zy0otE5aK1PeHHrIWfxVwcSFH-gA/edit?pli=1' %>
  </small>
  </blockquote>
<p></p>
<blockquote>
	Installation instuctions, system requirements, and information for administrators:
  <small>
  	<%= link_to 'Admin Manual', 'https://docs.google.com/document/d/1S0nzsglFRUR14FiMVq1PGURrMWbzfyFbU9iTLMs1sB4/edit?pli=1' %>
  </small>
</blockquote>
</p>
