<% if user_signed_in? %>

<% if current_user.admin %>

<p> Admin Login </p>

<% end %>

<% end %>

<% content_for :h1 do %>
  <h1>Home</h1>
<% end %>


    <div class="hero-unit">
    <h1>Welcome to Auto-Advisor</h1>
    <p>AutoAdvisor is a course selection aid.  It solves the problem of selecting courses that best meet the academic and lifestyle requirements of today’s on-the-go student. </p>
    </div>
<div class='main'>   
    <ul class="nav nav-tabs">
    	<li class="active">
    	<a href="#">Version</a></li>
    </ul>
<div class="accordion" id="accordion2">
<div class="accordion-group">
<div class="accordion-heading">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
Final Release 
<div class="date">5/1/2013</div>
</a>
</div>
<div id="collapseOne" class="accordion-body collapse">
<div class="accordion-inner">
     
     <div>Registration/Sign Up</div>
     <div>Account Log In</div>
     <div>Upload/Parse Unofficial Transcript</div>
     <div>Class Options/Recommendations</div>
     <div>Create Schedule</div>
     <div>Personal Profile</div>
</div>
</div>
</div>
<div class="accordion-group">
<div class="accordion-heading">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
Beta Release 
<div class="date">4/2/2013</div>
</a>
</div>
<div id="collapseTwo" class="accordion-body collapse">
<div class="accordion-inner">

     <div>Registration/Sign Up</div>
     <div>Account Log In</div>
     <div>Upload/Parse Unofficial Transcript</div>
     <div>Class Options/Recommendations</div>
     <div>Personal Profile</div>


</div>
</div>
</div>
</div>
</div>
