<h1>SCHEDULE</h1>

<table>
  <tr>
    <th>Courses</th>
    <th></th>
    <th></th>
    <th></th>  
	<br></br>
	<br></br>
	<th>Browse Courses</th>
	<td><%= link_to 'Check Past Courses', '/past_course %></td>

	<br></br>
	<br></br>
	<th>Filter Courses</th>
	<br></br>
	<br></br>
	<th>Class Options</th>
	<br></br>
	<br></br>
	<th>Recommendations</th>
	<br></br>
	<br></br>
	<td><%= link_to 'Check Profile', '/profile' %></td>
	</tr>

</table>
</br>


