<h2>SCHEDULE</h2>

<table>
  <tr>

    <p>Browse Courses</th>
	<form action="">
	<input type="button" value="Browse">
	</form>
</p>
   <p>
    <th>Class Options</th>
	<form action="">
	<input type="button" value="Options">
	</form>
</p>
    <th>Class Recommendations</th>
	<form action="">
	<input type="button" value="Recommend">
	</form>
</P>
    <th>Filter Class</th>
	<form action="">
	<input type="button" value="Filter">
	</form>
</P>
  </tr>
	<tr>
	<td><%= link_to 'Past Courses' , 'past_course' %></td>
	</tr>
	<tr>
	<td><%= link_to 'Check Profile', '/profile' %></td>
	</tr>

</table>
</br>


