/**
 * Constraint object constructor is in ./constraint_helper/constraint_list.js
 * newConstraint function is in ./constraint_helper/new_constraint.js
 */

var fingerprint_lookup = {};

function searchSlot(t, day) {
  for (var i = 0; i < cur_schedule.sections.length; ++i) {
    var section = cur_schedule["sections"][i];
    console.log("found");
    if (section["days"].indexOf(day) >= 0) {
      if (section["time_start"] === t) {
        return section['name'] + '<br />' + section['time_start'] + ' - ' + section['time_end'];
      }
    }
  }
  return;
}

function searchSlotMon(t) {
  return searchSlot(t, 'M');
}

function searchSlotTues(t) {
  return searchSlot(t, 'T');
}

function searchSlotWed(t) {
  return searchSlot(t, 'W');
}

function searchSlotThur(t) {
  return searchSlot(t, 'R');
}

function searchSlotFri(t) {
  return searchSlot(t, 'F');
}

function ids_for_section(section) {
  var fingerprint = section["time_start"] + section["time_end"];
  var days = section["days"].split('');
  return $.grep($.map(days, function(day, idx) {
    var day_finger = day + fingerprint;
    if (day_finger in fingerprint_lookup) {
      return fingerprint_lookup[day_finger];
    }
    return null;
  }), function(val, idx) {
    return !(val === null);
  });
}

function reload(schedule_hash) {
  for (var i = 0; i < cur_ids.length; ++i) {
    $(cur_ids[i]).html('');
  }
  var sections = schedule_hash["sections"];
  for (var i = 0; i < sections.length; ++i) {
    var section = sections[i];
    var ids = ids_for_section(section);
    for (var j = 0; j < ids.length; ++j) {
      var id = ids[j];
      $(id).html(html_for_section(section));
    }
  }
}


var num_constraint = 0;
var constraints = [];
var exclusion = {'by_click': [], 'by_input': []};
var inclusion = {'type': 'specified', 'courses': [], 'sections': []};

/**
 * Change Details within one constraints
 *
 * relation is the middle dropdown box
 * input is the right input items
 *
 * Once constraint type is set, the activation of
 * that row is that constraint
 */
function relation(val, c) {
  var relation = '';
  var input = '';
  if (val === 'major'){
    relation += constraints[c].major.relation;
    input += constraints[c].major.input;
  }
  else if (val === 'c_time') {
    relation += constraints[c].c_time.relation;
    input += constraints[c].c_time.input;
  }
  else if (val === 'credit') {
    relation += constraints[c].credit.relation;
    input += constraints[c].credit.input;
  }
  else if (val === 'num_course') {
    relation += constraints[c].num_course.relation;
    input += constraints[c].num_course.input;
  }
  else if (val === 'spe_course') {
    relation += constraints[c].spe_course.relation;
    input += constraints[c].spe_course.input;
  }
  else if (val === 'spe_section') {
    relation += constraints[c].spe_section.relation;
    input += constraints[c].spe_section.input;
  }
  else if (val === 'day') {
    relation += constraints[c].day.relation;
    input += constraints[c].day.input;
  }
  else if (val === 'course_number') {
    relation += constraints[c].course_number.relation;
    input += constraints[c].course_number.input;
  }
  else if (val === 'dis') {
    relation += constraints[c].dis.relation;
    input += constraints[c].dis.input;
  }
  else if (val === 'lab') {
    relation += constraints[c].lab.relation;
    input += constraints[c].lab.input;
  }
  else if (val === 'gened') {
    relation += constraints[c].gened.relation;
    input += constraints[c].gened.input;
  }
  else if (val === 'major_course') {
    relation += constraints[c].major_course.relation;
    input += constraints[c].major_course.input;
  }
  else if (val === 'unit_per_course') {
    relation += constraints[c].unit_per_course.relation;
    input += constraints[c].unit_per_course.input;
  }

  constraints[c].active = val;
  $('#r_' + c).html(relation);
  $('#i_' + c).html(input);
}

/**
 * Bind "Add new constraint" to add one more row
 *
 * See new_constraint.js
 */
$('#additem').bind('click', function (event) {
  newConstraint();
});

/**
 * ==Not Necessary==
 * May remove next time
 * 
 * Convert Relation into simbolic form
 */
function getRelation (ind) {
  var relation = $('#relation_' + ind).val();
  var string = '';
  if (relation === 'within') {
    string += "\=";
  }
  else if (relation === 'less than') {
    string += "\<\=";
  }
  else if (relation === 'greater than') {
    string += "\>\=";
  }
  return string;
}

/**
 * Get Days from a set of Day Buttons
 *
 * return a string (eg. MTW)
 */
function getDays(type, i) {
  string = '';
  $('#' + type + '_' + i + ' .btn.active').each(function () {
    string += this.value;
  });
  return string;
}

/**
 * Get an array of constraints
 * Constructing each constraint to a json object
 *
 * The format of EACH JSON Object is:
 *
 */
function getConstraints() {
  var valid = true;
  var array = $.map(constraints, function (value, index) {
    if (value.active === undefined) {
      return;
    }

    var hash = {"type": value.active};
    if (value.active === 'major') {
      hash['major'] = $('#major_' + index).val();
    }

    else if (value.active === 'course_number') {
      if (getRelation(index) === '\>\=') {
        hash['lower'] = $('#course_number_' + index).val();
      }
      else if (getRelation(index) === '\<\=') {
        hash['upper'] = $('#course_number_' + index).val();
      }
      else {
        var lower = $('#course_number_' + index).val();
        var higher = $('#course_number_2_' + index).val();
        if (lower > higher) {
          $('#constraint_row_' + index).addClass('error');
          $('#err_' + index).html('<i class="icon-exclamation-sign">Logic Fail</i>');
          return {'type': 'failure'};
        }
        else {
          hash['lower'] = lower;
          hash['upper'] = higher;
        }
      }
    }

    else if (value.active === 'c_time') {
      hash['type'] = 'time';
      if (getRelation(index) === '\>\=') {
        hash['lower'] = $('#time_' + index).val();
      }
      else if (getRelation(index) === '\<\=') {
        hash['upper'] = $('#time_' + index).val();
      }
      else {
        hash['lower'] = $('#time_' + index).val();
        hash['upper'] = $('#time_2_' + index).val();
      }
    }

    else if (value.active === 'num_course') {
      hash['type'] = 'target';
      hash['target_type'] = "number";
      if (getRelation(index) === '\>\=') {
        hash['lower'] = $('#num_course_' + index).val();
      }
      else if (getRelation(index) === '\<\=') {
        hash['upper'] = $('#num_course_' + index).val();
      }
      else {
        var lower = $('#num_course_' + index).val();
        var higher = $('#num_course_2_' + index).val();
        if (lower > higher) {
          $('#constraint_row_' + index).addClass('error');
          $('#err_' + index).html('<i class="icon-exclamation-sign">Logic Fail</i>');
          return {'type': 'failure'};
        }
        else {
          hash['lower'] = lower;
          hash['upper'] = higher;
        }
      }
    }

    else if (value.active === 'credit') {
      hash['type'] = 'target';
      hash['target_type'] = "credits";
      if (getRelation(index) === '\>\=') {
        hash['lower'] = $('#credit_' + index).val();
      }
      else if (getRelation(index) === '\<\=') {
        hash['upper'] = $('#credit_' + index).val();
      }
      else {
        var lower = $('#credit_' + index).val();
        var higher = $('#credit_2_' + index).val();
        if (lower > higher) {
          $('#constraint_row_' + index).addClass('error');
          $('#err_' + index).html('<i class="icon-exclamation-sign">Logic Fail</i>');
          return {'type': 'failure'};
        }
        else {
          hash['lower'] = lower;
          hash['upper'] = higher;
        }
      }
    }

    else if (value.active === 'spe_course') {
      var courses = $('#spe_course_' + index).val().split(', ');
      $.each(courses, function (i, v) {
        if ($('#not_' + index).hasClass('active'))
          exclusion.by_input.push(v);
        else
          inclusion.courses.push(v);
      });
    }

    else if (value.active === 'spe_section') {
      var sections = $('#spe_section_' + index).val().split(', ');
      $.each(sections, function (index, value) {
        inclusion.sections.push(value);
      });
    }

    else if (value.active === 'days') {
      hash['days'] = getDays('day', index);

    }

    else if (value.active === 'dis') {
      if ($('#dis_' + index).prop('checked')) {
        hash['discussion'] = 'true';
      } else {
        hash['discussion'] = 'false';
      }
    }

    else if (value.active === 'lab') {
      if ($('#lab_' + index).prop('checked')) {
        hash['lab'] = 'true';
      } else {
        hash['lab'] = 'false';
      }
    }

    else if (value.active === 'gened') {
      hash['string'] = $('#gened_' + index).val();
    }

    /**
     * TODO
     */
    else if (value.active === 'major_course') {
      if (!hasElement(constraints, 'active', 'major')) {
        $('#constraint_row_' + index).addClass('error');
        $('#err_' + index).html('<i class="icon-exclamation-sign">No major</i>');
        return {'type': 'failure'};
      }
      hash['type'] = 'major_course';
      if (getRelation(index) === '\>\=') {
        hash['lower'] = $('#major_course_' + index).val();
      }
      else if (getRelation(index) === '\<\=') {
        hash['upper'] = $('#major_course_' + index).val();
      }
      else {
        var lower = $('#major_course_' + index).val();
        var higher = $('#major_course_2_' + index).val();
        if (lower > higher) {
          $('#constraint_row_' + index).addClass('error');
          $('#err_' + index).html('<i class="icon-exclamation-sign">Logic Fail</i>');
          return {'type': 'failure'};
        }
        else {
          hash['lower'] = lower;
          hash['upper'] = higher;
        }
      }
    }

    else if (value.active === 'unit_per_course') {
      hash['type'] = 'units';
      if (getRelation(index) === '\>\=') {
        hash['lower'] = $('#unit_per_course_' + index).val();
      }
      else if (getRelation(index) === '\<\=') {
        hash['upper'] = $('#unit_per_course_' + index).val();
      }
      else {
        var lower = $('#unit_per_course_' + index).val();
        var higher = $('#unit_per_course_2_' + index).val();
        if (lower > higher) {
          $('#constraint_row_' + index).addClass('error');
          $('#err_' + index).html('<i class="icon-exclamation-sign">Logic Fail</i>');
          return {'type': 'failure'};
        }
        else {
          hash['lower'] = lower;
          hash['upper'] = higher;
        }
      }
    }

    hash['invert'] = $('#not_' + index).hasClass('active') ? true : false;

    return hash;
  });

  /**
   * If there are any failue type, return an empty array
   */
  if (hasElement(array, 'type', 'failure')) {
    $('#recommendations').html('constraint fail');
    return constraintsss;
  }

  /**
   * Exclusion List
   */
  var final_exclusion = {};
  final_exclusion['type'] = 'specified';
  final_exclusion['courses'] = [];
  $.each(exclusion.by_click, function (index, value) {
    final_exclusion['courses'].push(value);
  });
  $.each(exclusion.by_input, function (index, value) {
    final_exclusion['courses'].push(value);
  });
  final_exclusion['invert'] = true;
  array.push(final_exclusion);
  array.push(inclusion);
  return array;
}

/**
 * Binded to "Show Me My Option"
 * 
 * 1. Send the array of JSON object created by
 *    getConstraints() function
 *
 * 2. Get data on Success and print the schedule
 *    ** See print_recommendation.js
 *
 * The format of JSON received is:
 *
 */
function getRecommendation() {
  $('#msg').html('Recommendation Clicked');

  $.each(constraints, function (index, value) {
    $('#constraint_row_' + index).removeClass('error');
  })

  var constraints_array = getConstraints();

  $('#string').html(JSON.stringify(constraints_array));

  function onSuccess (data) {
    exclusion.by_input = [];
    inclusion.courses = [];
    inclusion.sections = [];
    console.log("Print");
    print_recommendation(data);
    // $('#string').html(JSON.stringify(data));

    var exclusion_list = '';
    if (exclusion.by_click.length != 0) {
      exclusion_list += '<table class="table table-hover table-bordered">';
      exclusion_list +=   '<thead>';
      exclusion_list +=     '<tr><td colspan="2">Exclusion List</td></tr>';
      exclusion_list +=   '</thead>';
      exclusion_list += '<tbody>';
      for (var i = 0; i < exclusion.by_click.length; i++) {
        exclusion_list += '<tr><td>' + exclusion.by_click[i] + '</td><td><a role="button" class="btn btn-danger" id="delete_exclusion_' + i + '">Delete</a></td></tr>'
      }
      exclusion_list += '</tbody></table>';
    }

    $('#exclusion_list').html(exclusion_list);

    $.each(exclusion.by_click, function(index, value) {
      $('#delete_exclusion_' + index).bind('click', function (event) {
        exclusion.by_click = jQuery.grep(exclusion.by_click, function(v) {
          return value != v;
        });
        getRecommendation();
      });
    });

    $.each(data, function(index, value) {
      $.each(value, function(i, v) {
        $('a.No_' + v.name).bind('click', function (event) {
          console.log("No Class " + v.name);
          exclusion.by_click.push(v.name);
          getRecommendation();
        });
      });
    });


    $('#save_btn').bind('click', function (event) {
      var name = $("#name_of_save").val();
      if (name === null) {name = "";}
      var sections = $.map(data, function(val){return val["spire_id"];});
      var request = {'name': name, 'sections': sections};
      $('#string').append('<pre>' + JSON.stringify(request) + '</pre><br />');
      $.ajax({
        type: 'POST',
        contentType: "application/json",
        url: "/schedule/create", data: JSON.stringify(request),
        success: function(response) {
          var success = response["success"];
          if (success === true) {
            window.location = "/schedule";
          }
        },
        dataType: "json"
      });
    });
  }

  function onSend() {
    $('#recommendations').html("Please wait... I am looking for schedules which suitable for you :)");
  }
  
  $.ajax({
    type: 'POST',
    contentType: "application/json",
    url: "/schedule/generate.json", data: JSON.stringify(constraints_array),
    success: onSuccess,
    beforeSend: onSend,
    ajaxError: function () {
      console.log("error");
    },
    dataType: "json"
  });
}
$('#getrecommend').bind('click', getRecommendation);
$('#constraint').prop('selectedIndex', -1)