.main {
  margin: auto;
  width: 700px;
}

.main .version {
  float: left;
}

.main .date {
  float: right;
}

table#profile {
  margin: auto;
}

.item {
  text-align: left;
}

p.ritem {
  padding-left: 50px;
  padding-bottom: 10px;
}

table.transcript {
  width: 600px;
  margin: auto;
  border-style: solid;
}

.head {
  background: #CDCDCD;
}

.subhead {
  background: #DEDEDE;
}

tr.item:hover {
  background: #EFEFEF;
}

td.manual_button {
  border-style: solid;
}

td.manual_button:hover {
  background: #EEEEEE;
}

td.manual_button:active {
  background: #777777;
}

.schedule {
  margin: 0px auto;
}

.adv_nav {
  margin-left: 10px;
  margin-right: 10px;
  border-top: 10px;
  border-bottom: 10px;
}

.button {
  color: black;
  background-color: white;
  border-style: solid;
  border: 2px;
  border-color: black;
}

.button:hover {
  background-color: #EEEEEE;
}

.button:active {
  background-color: #444444;
  color: white;
}
