
.day_row{
    height: 20px;
    width: 822px; 
     

}
.day_column {
    border: 1px solid lightblue;
    width: 150px;
     float: left;   
}
.time_column{
     border: 1px solid lightblue;
    width: 60px;
     float: left;
}

.time {
    border: 1px solid lightblue;
    margin: -1px;
}

.header {
     font: 15px Arial;
    font-weight: bold;
    text-align: center;
   border-bottom: 2px solid lightblue; 
}