
.day_column {
    border: 1px solid black;
    width: 163px;
    position: relative;
     float: left;   
}
.time_column{
     border: 1px solid black;
    width: 40px;
    position: relative;
     float: left; 

}

.time {
    border-bottom: 1px solid lightblue;
    margin-bottom: -1px;
}

.header {
     font: 15px Arial;
    font-weight: bold;
    text-align: center;
   border-bottom: 2px solid black; 
}


.hour{
    height:60px;
    width:40px;
    font-size:75%
}

.fifty{
	height:50px;
	width:163px;
	font-size: 75%;
		
}

.seventyfive{
	height:75px;
	width:163px;	
	font-size: 75%;
}

.fifteen{
	height: 15px;
	width: 163px;
}

.half{
     height: 30px;
     width: 163px;
     }
